InheritParentConfig: true
Checks: >
  -misc-use-anonymous-namespace,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-do-while,
  -readability-function-cognitive-complexity,
  -bugprone-throwing-static-initialization,
  -cert-err58-cpp
