InheritParentConfig: true
Checks: >
  *,
  -misc-use-anonymous-namespace,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -llvmlibc-implementation-in-namespace,
  -llvmlibc-callee-namespace,
  -cppcoreguidelines-avoid-do-while,
  -altera-unroll-loops