UseTab: Never
BasedOnStyle: Google
SpaceBeforeRangeBasedForLoopColon: true
AlignConsecutiveDeclarations: false
PackConstructorInitializers: Never
IndentCaseLabels: true
NamespaceIndentation: All
IndentWidth: 4
Standard: c++20
AlignAfterOpenBracket: DontAlign
BreakConstructorInitializers: AfterColon
SpacesInParentheses: true
Cpp11BracedListStyle: false
SpacesInAngles: false
AllowShortIfStatementsOnASingleLine: false
TabWidth: 4
BreakBeforeBraces: Allman
SpacesInSquareBrackets: true
AlwaysBreakTemplateDeclarations: Yes
BreakInheritanceList: BeforeColon
AlignOperands: true
KeepEmptyLinesAtTheStartOfBlocks: false
AlignConsecutiveAssignments: true
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Empty
SortIncludes: false
SpaceAfterCStyleCast: true
SpaceInEmptyParentheses: false
AttributeMacros: []
SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: 1
