BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
SpacesInSquareBrackets: true
SpacesInAngles: true
SpacesInParentheses: true
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
AlignAfterOpenBracket: Align
AlignOperands: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
IndentCaseLabels: true
AlwaysBreakTemplateDeclarations: Yes
KeepEmptyLinesAtTheStartOfBlocks: false
ColumnLimit: 120
SortIncludes: false
SpacesBeforeTrailingComments: 1
Cpp11BracedListStyle: false
Standard: c++20
SpaceBeforeParens: true
SpaceAfterCStyleCast: true
NamespaceIndentation: All
